################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/UnitTestBasket/ThreadAndAsyncTests/obj
/.vs
/UnitTestBasket/.vs/UnitTestBasket/v16
/UnitTestBasket/ThreadAndAsyncTests/bin/Debug/netcoreapp3.0
